.heading-class {
    background-color: #fa8888;
}

h4 {
    background-color: #e79696;
}

p {
    background-color: #c58181;
}

button {
    background-color: #6a4b20;
    color: whitesmoke;
}

body {
    background-color: #9e65dc;
}